[submodule "mod_auth_kerb"]
	path = mod_auth_kerb
	url = ../mod_auth_kerb.git
[submodule "radsecproxy"]
	path = libradsec
	url = git://git.nordu.net/radsecproxy.git
[submodule "shibboleth/opensaml2"]
	path = shibboleth/opensaml2
	url = ../shibboleth/opensaml2.git
[submodule "shibboleth/sp"]
	path = shibboleth/sp
	url = ../shibboleth/sp.git
[submodule "shibboleth/xmltooling"]
	path = shibboleth/xmltooling
	url = ../shibboleth/xmltooling.git
