[submodule "mod_auth_kerb"]
	path = mod_auth_kerb
	url = ../mod_auth_kerb.git
[submodule "radsecproxy"]
	path = libradsec
	url = ../radsecproxy.git/
[submodule "shibboleth/opensaml2"]
	path = shibboleth/opensaml2
	url = ../shibboleth/opensaml2.git
[submodule "shibboleth/sp"]
	path = shibboleth/sp
	url = ../shibboleth/sp.git
[submodule "shibboleth/xmltooling"]
	path = shibboleth/xmltooling
	url = ../shibboleth/xmltooling.git
[submodule "cyrus-sasl"]
	path = cyrus-sasl
	url = ../cyrus-sasl
[submodule "shibboleth/resolver"]
	path = shibboleth/resolver
	url = ../shibboleth/resolver.git
[submodule "libeap"]
	path = moonshot/libeap
	url = ../libeap.git
[submodule "openssh"]
	path = openssh
	url = ../openssh.git
[submodule "jansson"]
	path = jansson
	url = ../jansson.git/
[submodule "firefox"]
	path = firefox
	url = ../moonshot-firefox.git
[submodule "moonshot"]
	path = moonshot
	url = ../mech_eap.git
